apiVersion: apps/v1
kind: Deployment
metadata:
  name: guestbook
spec:
  replicas: 1
  selector:
    matchLabels:
      name: guestbook
  template:
    metadata:
      labels:
        name: guestbook
    spec:
      serviceAccountName: guestbook
      containers:
        - name: guestbook
          # Replace this with the built image name
          image: REPLACE_IMAGE
          command:
          - guestbook
          imagePullPolicy: Always
          env:
            - name: WATCH_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: OPERATOR_NAME
              value: "guestbook"
